.notification-list{
  margin-top: 25px;
  display: flex;
  flex-direction: column-reverse;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 1em;
  cursor: pointer;
}

.notification-item:hover {
  background-color: #ebebeb;
  transform: translateY(-2px);
}

.notification-item .message {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
}

.notification-item .timestamp {
  font-size: 12px;
  color: #999;
}