body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

h1, 
h2,
h3 {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}


.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: .75rem;
  margin: 0;
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background: #f8f8f8;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3em;
}

@media (min-width: 675px) {
  header {
      text-align: left;
  }
  
  .container-flex {
      flex-direction: row;
  }
  
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: .25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.logout{
    background-color: transparent;
    border: none;
    color: #707070;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
S
@media (max-width: 675px) {
  nav ul {
      flex-direction: column;
  }
  
  nav li {
      margin: .5em 0;
  }
}
