
.btn-signup {
    background-image: linear-gradient(to left, #ff5a5f, #c81d25);
    color: white;
    transform: scale(1);
    transition: transform 250ms;
}

.btn-signup:hover,
.btn-signup:focus {
    transform: scale(1.1);
}

.select{
  padding: .25em 1em;
  background: #edf2ff;
  border:black 1px solid;
  margin-bottom: .75em;
  border-radius: 5px;
}